<div
  class="container"
  style="
    border: solid black;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(100, 100, 200, 0.5);
    border-radius: 15px;
    position: absolute;
    width: 40%;
    left: 30%;
  "
>
  <!-- <pre>{{ userForm.value | json }}</pre>
  <hr />
  {{ userModel | json }}
  <hr />
  {{ mob.valid }} -->
  <!-- {{topicHaserror}} -->

  <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column">
      <label for="fname"><strong>First name</strong></label>
      <input
        type="text"
        class="my-2 form-control"
        name="fname"
        #fname="ngModel"
        id="fname"
        required
        placeholder="enter here"
        [(ngModel)]="userModel.fname"
        [class.is-invalid]="fname.invalid && fname.touched"
        pattern="^[a-zA-Z]+$"
      />
      <!-- <small class="text-danger" [class.d-none]="fname.valid || fname.untouched"
        >required</small
      > -->

      <div *ngIf="fname.errors && (fname.invalid || fname.touched)">
        <small
          class="text-danger"
          *ngIf="fname.errors.required"
          [class.d-none]="fname.valid || fname.untouched"
          >required</small
        >
        <small class="text-danger" *ngIf="fname.errors.pattern"
          >please input letters</small
        >
      </div>

      <label for="lname"><strong>Last name</strong></label>
      <input
        type="text"
        class="my-2 form-control"
        name="lname"
        #lname="ngModel"
        id="lname"
        required
        placeholder="enter here"
        [(ngModel)]="userModel.lname"
        [class.is-invalid]="lname.invalid && lname.touched"
        pattern="^[a-zA-Z]+$"
      />

      <!-- <small class="text-danger" [class.d-none]="lname.valid || lname.untouched"
        >required</small
      > -->

      <div *ngIf="lname.errors && (lname.invalid || lname.touched)">
        <small
          class="text-danger"
          *ngIf="lname.errors.required"
          [class.d-none]="lname.valid || lname.untouched"
          >required</small
        >
        <small class="text-danger" *ngIf="lname.errors.pattern"
          >please input letters</small
        >
      </div>

      <label for="email"><strong>Email</strong></label>
      <input
        type="email"
        class="my-2 form-control"
        name="email"
        #email="ngModel"
        id="email"
        placeholder="enter here"
        required
        [(ngModel)]="userModel.email"
        [class.is-invalid]="email.invalid && email.touched"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />

      <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched"
        >required</small
      > -->

      <div *ngIf="email.errors && (email.invalid || email.touched)">
        <small
          class="text-danger"
          *ngIf="email.errors.required"
          [class.d-none]="email.valid || email.untouched"
          >required</small
        >
        <small class="text-danger" *ngIf="email.errors.pattern"
          >enter valid email</small
        >
      </div>

      <label for="mob"><strong>Mobile number</strong></label>
      <input
        type="number"
        class="my-2 form-control"
        name="mob"
        #mob="ngModel"
        id="mob"
        placeholder="enter here"
        required
        [(ngModel)]="userModel.mob"
        [class.is-invalid]="mob.invalid && mob.touched"
        pattern="^\d{10}$"
      />

      <small class="text-danger" [class.d-none]="mob.untouched || mob.valid"
        >required</small
      >
      <div *ngIf="mob.errors && (mob.invalid || mob.touched)">
        <!-- <small class="text-danger" *ngIf="mob.errors.required">required</small> -->
        <small class="text-danger" *ngIf="mob.errors.pattern"
          >mobile number should be 10 digits</small
        >
      </div>

      <label for="dob"><strong>DOB</strong></label>
      <div class="d-flex flex-row">
        <input
          type=""
          class="my-2 form-control"
          name="dob"
          #dob="ngModel"
          id="dob"
          required
          [matDatepicker]="myDatepicker"
          placeholder="enter here"
          [min]="minDate"
          [max]="maxDate"
          [(ngModel)]="userModel.dob"
          [class.is-invalid]="dob.invalid && dob.touched"
        />

        <mat-datepicker-toggle
          class="mt-2"
          [for]="myDatepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </div>
      <small class="text-danger" [class.d-none]="dob.valid || dob.untouched"
        >required</small
      >
    </div>

    <label class="mt-2" for="topic"><strong>select a topic</strong></label>
    <select
      class="form-control"
      name="topic"
      [(ngModel)]="userModel.topic"
      #topic="ngModel"
      [class.is-invalid]="topicHaserror && topic.touched"
      (blur)="validateTopic(topic.value)"
      (change)="validateTopic(topic.value)"
    >
      <option value="default">i am interested in</option>
      <option *ngFor="let topic of topics">{{ topic }}</option>
    </select>

    <small
      class="text-danger"
      [class.d-none]="!topicHaserror || topic.untouched"
      >please select a topic</small
    >

    <div
      *ngIf="
        fname.valid &&
          lname.valid &&
          email.valid &&
          mob.valid &&
          dob.valid &&
          !topicHaserror &&
          topic.dirty &&
          submit;
        else elseBlock
      "
    >
    <div class="alert alert-danger" *ngIf = "errorMsg">
     {{errorMsg}}
    </div>

      <div class="text-center mt-3">
        <button mat-raised-button color="primary" type="submit">SUBMIT</button>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="text-center mt-3">
        <button mat-raised-button color="primary" type="submit" disabled>
          SUBMIT
        </button>
      </div>
    </ng-template>

    <!-- <div>
      <button [disabled]="userForm.form.invalid || !topicHaserror && topic.dirty" mat-raised-button color="primary" type="submit" disabled>
        SUBMIT
      </button>
    </div> -->
  </form>
</div>
